@page
@model TrainingCGI1.Pages.modul5.htmldemoModel
@{
}
<h1>test</h1>
<form method="post" novalidate>
    <input type="datetime-local" />
    <input required />
    <input type="range" min="10" max="100" />
    <button type="submit">submirt</button>
</form>