@page "/er" 
<h3>EventReihenfolge</h3>
<button @onclick="clickme" class="btn btn-outline-primary">click</button>


@code {
    void clickme()
        {

        }

        protected override void OnInitialized()
        {
            
        }
        protected override void OnAfterRender(bool firstRender)
        {
           
        }
}
